{% extends "base.html" %}
{% block title %}Lab2 — Form{% endblock %}
{% block content %}
  <h1>Lab2 — Форма</h1>

  {% if ok %}
    <p style="padding:10px;background:#e7ffe7;border:1px solid #b7ffb7;">
      ✅ Успешно! Данные приняты.
    </p>
    <ul>
      <li><b>Имя:</b> {{ data.name }}</li>
      <li><b>Email:</b> {{ data.email }}</li>
      <li><b>Возраст:</b> {{ data.age }}</li>
    </ul>
    <p><a href="{{ url_for('form_view') }}">Отправить ещё раз</a></p>
  {% else %}

    {% if errors %}
      <div style="padding:10px;background:#ffe7e7;border:1px solid #ffb7b7;">
        <b>Ошибки:</b>
        <ul>
          {% for k, v in errors.items() %}
            <li>{{ v }}</li>
          {% endfor %}
        </ul>
      </div>
      <br>
    {% endif %}

    <form method="post" action="{{ url_for('form_view') }}">
      <label>Имя:</label><br>
      <input name="name" value="{{ data.name }}" style="width:320px;">
      {% if errors.name %}<div style="color:#b00000">{{ errors.name }}</div>{% endif %}
      <br><br>

      <label>Email:</label><br>
      <input name="email" value="{{ data.email }}" style="width:320px;">
      {% if errors.email %}<div style="color:#b00000">{{ errors.email }}</div>{% endif %}
      <br><br>

      <label>Возраст:</label><br>
      <input name="age" value="{{ data.age }}" style="width:120px;">
      {% if errors.age %}<div style="color:#b00000">{{ errors.age }}</div>{% endif %}
      <br><br>

      <button type="submit">Отправить</button>
    </form>

    <p><a href="{{ url_for('index') }}">← На главную Lab2</a></p>
  {% endif %}
{% endblock %}
