{% extends "base.html" %}
{% block title %}Lab3 — Редактировать{% endblock %}
{% block content %}
  <h1>Редактировать заметку</h1>

  <form method="post">
    <label>Заголовок</label><br>
    <input name="title" value="{{ title }}">
    {% if errors.title %}<div class="err">{{ errors.title }}</div>{% endif %}
    <br><br>

    <label>Текст</label><br>
    <textarea name="text">{{ text }}</textarea>
    {% if errors.text %}<div class="err">{{ errors.text }}</div>{% endif %}
    <br><br>

    <button type="submit">Сохранить</button>
    <a href="{{ url_for('view', note_id=note_id) }}">Отмена</a>
  </form>
{% endblock %}
