{% extends "base.html" %}
{% block title %}{{ note.title }}{% endblock %}
{% block content %}
  <article class="card">
    <h1>{{ note.title }}</h1>
    <small>{{ note.created_at }}</small>
    <p>
      <a href="{{ url_for('edit', note_id=note.id) }}">✏️ Редактировать</a>
    </p>
  
    <form method="post" action="{{ url_for('delete', note_id=note.id) }}" onsubmit="return confirm('Удалить заметку?');">
      <button type="submit">🗑 Удалить</button>
    </form>
    <hr>
    {% for paragraph in note.text.split("\n\n") %}
      <p>{{ paragraph }}</p>
    {% endfor %}
  </article>

  <p><a href="{{ url_for('index') }}">← назад</a></p>
{% endblock %}
